.box
  .cell
    .fr
    = build_navigation(["健康问卷"])
  .cell
    %table.table
      %thead
        %tr
          %th{:align => :right} 序号
          %th.w50{:align => :left} 名称
          %th 状态
          %th 操作
      %tbody
        = render @surveys
  .inner{:align => :center}
    = paginate @surveys