<div class="box">
  <div class="cell">
    <%= build_navigation(["健康问卷", @survey.name]) %>
  </div>
  <div class="survey">
    <h1 class="center"><%= @survey.name %></h1>
    <div class="desc">
      <%= @survey.desc %>
    </div>
    <% @survey_questions.each_with_index do |survey_question, index| %>
      <%= question_html(survey_question, index + 1) %>
    <% end -%>
  </div>
</div>