<div class="center font16 m18 b"><%= @survey.name %></div>
<% @survey_questions.each_with_index do |q| %>
  <div class="cell">
    <h2><%= q.title %></h2>
    <div><%= q_options(q) %></div>
  </div>
<% end -%>