.w180 { width: 180px; }
.w50 { width: 50px; }
.ml180 { margin-left: 180px; }
.simple_form .fields { margin-bottom: 5px;background-color: rgb(240, 240, 240); padding: 3px 0px;}
.simple_form .help-block{ font-size: 12px;color: rgb(206, 145, 79) } 
.simple_form .error{ color: red }
.simple_form select{ width: initial; }
.tc{ text-align: center; }
.center{ clear: both;margin: 0 auto; }
.font16{ font-size: 16px; }
.m18 { margin:18px;}
.b { font-weight: bold; }



